body {
  background-color: #ffffff;
}

sup{
    font-size: 0.5em;
}

#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 10px;
  background-color: #008CBA;
  color: #FFFFFF;
  border-bottom: 2px solid #EEEEEE;
  margin-bottom: 30px;
}

.center_content{
    width:90%;
    min-width: 1000px;
    margin: 0 auto;
}

#lab_map_container {
  width: 650px;
  height: 520px;
  
  float: left;
}

#lab_map{
  width: 650px;
  height: 520px;
  margin: 5px 0 5px 0;
  overflow: hidden;
}

#user_list{
    padding-left: 680px;
    padding-bottom:20px;
}

#user_table{
    width: 100%;
    min-width: 250px;
}

#pager{
    padding-left: 680px;
}

footer {
  padding: 10px;
}

h1 {
  margin: 2px 2px 0 5px;
}

h2 {
  margin: 0 2px 2px 5px;
  font-size: 10pt;
}