body {
  background-color: #ffffff;
}

sup{
    font-size: 0.5em;
}

#wrapper {
  height:auto;
}

#container {
  min-height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 10px;
  background-color: #008CBA;
  color: #FFFFFF;
  border-bottom: 2px solid #EEEEEE;
  margin-bottom: 30px;
}

.center_content{
    width:90%;
    min-width: 1000px;
    margin: 0 auto;
}

#lab_map_container {
  width: 60%;
/*  min-height: 90%; */
  
  height: 90%;
  float: left;
}
#projector_lab_map {
  width:100%;
  height:100100100100100100100100100100}

#lab_map{
  height: 100%;
  width: 100%;
  margin: 5px 0 5px 0;
  overflow: hidden;
}

/* svg { position:absolute; top:0; left:0; height:100%; width:100% } */

footer {
	clear: both;
	position: absolute;
	bottom: 0;
}

footer a {
	color: black;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer a:visited {
	color: gray;
}

#user_info{
  margin-top: 10px;
}

#user_info td.label{
    text-align: right;
    font-weight: bold;
}

#user_info_image{
    float: left;
    width: 100px;
    height: 133px;
    margin-right: 5px;
}

#user_info_title{
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#user_list{
    width: 40%;
    padding-bottom:20px;
    float: right;
}

#user_table{
    width: 100%;
    min-width: 250px;
}

#user_table tr.clickable:hover td{
    background-color: #D1F1FF;
}


#user_table tr.clickable{
    background-color: #D1F1FF;
}

#pager{
}

.clickable{
    cursor: pointer;
}

footer {
  background: white;
  padding: 5px;
}

h1 {
  margin: 2px 2px 0 5px;
}

h2 {
  margin: 0 2px 2px 5px;
  font-size: 10pt;
}
